body{
    margin: 0;
    background: #080c17;
}



/* CONTAINER START */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.container img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;

}


/*link*/
.container__link{
    position: fixed;
    background-color: white;
    width: 200px;
    height: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px 0 0;
    transform: translateX(-40%) rotate(90deg);
    animation: __link 1s ease-in-out;
}

.container__link p{
    color:black;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

/* CONTAINER END */



/* MAIN START */
.main{
    height: 539px;
    width: 582px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 250px;

}


/* title */
.main__title{
    margin: 0;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.main__title span{
    color: #CD292A;
    font-family: Montserrat, sans-serif, bold;
    font-size: 52px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}


/* list */
.main__list{
    width: 100%;
    margin: 25px 20px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex
}

.main__list img{
    width: 104px;
    height: 104px;
    object-fit: cover;
    border-radius: 9999px;
    position: relative;
    margin-left:-20px ;
}


/* text */
.main__text{
    color: white;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    line-height: 35px;
    font-weight: 1;
    font-style: normal;
    word-wrap: break-word;
    margin: 0;
}


/* button */
.main__button{
    display: flex;
    padding: 15px 60px;
    margin: 20px 0;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #CD292A;
}

.main__button a{
    color: white;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
}
/* MAIN END */



/* FOOTER START */
.footer{
    width: 63%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 75px;
}


/* item */
.footer__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 120%;
    background: linear-gradient(94deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(12px);
    border-radius: 9999px 0 0 9999px;
}

.footer__item p{
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 25px;
}
/* FOOTER END */




@keyframes __link {
    0%{left: -100px;}
    25%{left: -75px;}
    50%{left: -50px;}
    75%{left: -25px;}
    100%{left: 0;}
}